In [28]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
import shutil
import time
!pip install pandas
import pandas as pd
!pip install unidecode
import unidecode

Requirement already satisfied: selenium in c:\users\ericr\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio~=0.17 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (1.26.15)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: cffi>=1.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ericr\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ericr\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ericr\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: pandas in c:\users\ericr\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\ericr\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: unidecode in c:\users\ericr\anaconda3\lib\site-packages (1.3.6)

In [2]:
driver = webdriver.Chrome(
    executable_path="/Users/ericr/chromedriver_32/chromedriver"
    )

C:\Users\ericr\AppData\Local\Temp\ipykernel_3368\2497404269.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(

In [29]:
years = list(range(1996, 2024))

In [7]:
team_stats_url = "https://www.basketball-reference.com/teams/VAN/{}.html"

In [8]:
for year in years:
    url = team_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(15)
    
    with open("MEM/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(driver.page_source)

In [30]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MEM/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_per_game")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [31]:
per_game_stats = pd.concat(dfs)

In [32]:
per_game_stats.head()
per_game_stats.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
14,15,Danny Green,35,3,0,14.3,1.0,3.7,0.273,1.0,...,0.3,1.0,1.3,0.7,0.3,0.0,1.0,2.0,3.0,2023
15,16,Jake LaRavia,21,35,0,11.8,1.1,2.7,0.389,0.7,...,0.5,1.3,1.8,0.6,0.3,0.1,0.5,1.4,3.0,2023
16,17,Kennedy Chandler,20,36,0,7.8,1.0,2.3,0.422,0.1,...,0.3,0.8,1.1,1.6,0.3,0.1,0.5,0.4,2.2,2023
17,18,Kenneth Lofton Jr.,20,24,1,7.3,2.0,3.9,0.527,0.3,...,0.8,1.3,2.1,0.8,0.2,0.1,0.5,1.2,5.0,2023
18,19,Vince Williams Jr.,22,15,1,7.0,0.8,2.7,0.300,0.3,...,0.3,0.7,1.0,0.3,0.4,0.1,0.3,0.8,2.0,2023

In [33]:
per_game_stats.to_csv("mem_per_game_stats.csv")

In [34]:
players = pd.read_csv("mem_per_game_stats.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("mem_per_game_stats.csv")

In [35]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MEM/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_team_and_opponent")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [36]:
team_opponents_stats = pd.concat(dfs)

In [37]:
team_opponents_stats.head()
team_opponents_stats.tail()

,Unnamed: 0,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
3,Year/Year,NaN,0.0%,0.4%,-2.4%,0.013,4.2%,4.8%,-0.002,-1.0%,...,-14.8%,-1.3%,-5.2%,0.2%,-15.0%,-11.3%,3.1%,1.4%,1.1%,2023
4,Opponent,82.0,19780,3340,7365,0.453,1065,2998,0.355,2275,...,902,2738,3640,2167,559,427,1240,1644,9264,2023
5,Opponent/G,NaN,241.2,40.7,89.8,0.453,13.0,36.6,0.355,27.7,...,11.0,33.4,44.4,26.4,6.8,5.2,15.1,20.0,113.0,2023
6,Lg Rank,NaN,22,7,22,1.000,26,27,9.000,3,...,24,19,21,27,7,24,6,16,11,2023
7,Year/Year,NaN,0.0%,1.1%,1.3%,-0.001,7.9%,6.0%,0.006,-1.9%,...,9.9%,1.2%,3.2%,5.9%,-4.9%,-13.9%,0.4%,1.2%,2.8%,2023

In [38]:
team_opponents_stats.to_csv("mem_team_opponents_stats.csv")

In [39]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MEM/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_totals")[0]
    player_df = pd.read_html(str(player_table))[0][:-1]
    player_df["Year"] = year
    dfs.append(player_df)

In [40]:
totals = pd.concat(dfs)

In [41]:
totals.head()
totals.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
14,15.0,Kennedy Chandler,20.0,36,0.0,281,35,83,0.422,2,...,9,29,38,58,12,5,18,15,78,2023
15,16.0,Kenneth Lofton Jr.,20.0,24,1.0,176,49,93,0.527,6,...,19,32,51,20,5,2,12,28,120,2023
16,17.0,Vince Williams Jr.,22.0,15,1.0,105,12,40,0.300,4,...,4,11,15,4,6,2,5,12,30,2023
17,18.0,Danny Green,35.0,3,0.0,43,3,11,0.273,3,...,1,3,4,2,1,0,3,6,9,2023
18,19.0,Jacob Gilyard,24.0,1,0.0,41,1,3,0.333,1,...,0,4,4,7,3,0,2,3,3,2023

In [42]:
totals.to_csv("mem_player_totals.csv")

In [43]:
players = pd.read_csv("mem_player_totals.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("mem_player_totals.csv")

In [44]:
years = list(range(2000, 2024))

In [45]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MEM/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_salaries2")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [46]:
salaries = pd.concat(dfs)

In [47]:
salaries.head()
salaries.tail()

    Rk     Unnamed: 1      Salary  Year
18  19  Jacob Gilyard  $1,017,781  2023
19  20    Justin Bean  $1,017,781  2023
20  21   Matthew Hurt  $1,017,781  2023
21  22       E.J. Onu  $1,017,781  2023
22  23    Romeo Weems  $1,017,781  2023

In [48]:
salaries.to_csv("mem_player_salaries.csv")

In [49]:
players = pd.read_csv("mem_player_salaries.csv")
players.head()
from unidecode import unidecode
#players['Player'] = players['Player'].apply(unidecode)
players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("mem_player_salaries.csv")