In [28]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
import shutil
import time
!pip install pandas
import pandas as pd
!pip install unidecode
import unidecode

Requirement already satisfied: selenium in c:\users\ericr\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (1.26.15)
Requirement already satisfied: trio~=0.17 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ericr\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ericr\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ericr\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: pandas in c:\users\ericr\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\ericr\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: unidecode in c:\users\ericr\anaconda3\lib\site-packages (1.3.6)

In [2]:
driver = webdriver.Chrome(
    executable_path="/Users/ericr/chromedriver_32/chromedriver"
    )

C:\Users\ericr\AppData\Local\Temp\ipykernel_36796\2497404269.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(

In [29]:
years = list(range(1989, 2024))

In [4]:
team_stats_url = "https://www.basketball-reference.com/teams/MIA/{}.html"

In [5]:
for year in years:
    url = team_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(15)
    
    with open("MIA/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(driver.page_source)

In [30]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIA/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_per_game")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [31]:
per_game_stats = pd.concat(dfs)

In [32]:
per_game_stats.head()
per_game_stats.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
15,16,Dru Smith,25,5,1,13.4,1.0,2.8,0.357,0.2,...,0.2,1.6,1.8,1.0,0.8,0.6,0.2,2.0,2.2,2023
16,17,Jamal Cain,23,18,0,13.3,2.1,3.7,0.561,0.4,...,0.8,2.1,2.9,0.7,0.6,0.1,0.3,1.2,5.4,2023
17,18,Dewayne Dedmon,33,30,0,11.7,2.1,4.3,0.496,0.4,...,0.9,2.7,3.6,0.5,0.2,0.5,0.6,2.0,5.7,2023
18,19,Udonis Haslem,42,7,1,10.1,1.4,4.1,0.345,0.4,...,0.6,1.0,1.6,0.0,0.1,0.3,0.1,1.6,3.9,2023
19,20,Omer Yurtseven,24,9,0,9.2,1.8,3.0,0.593,0.3,...,0.9,1.7,2.6,0.2,0.2,0.2,0.4,1.8,4.4,2023

In [33]:
per_game_stats.to_csv("mia_per_game_stats.csv")

In [34]:
players = pd.read_csv("mia_per_game_stats.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("mia_per_game_stats.csv")

In [35]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIA/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_team_and_opponent")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [36]:
team_opponents_stats = pd.concat(dfs)

In [37]:
team_opponents_stats.head()
team_opponents_stats.tail()

,Unnamed: 0,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
3,Year/Year,NaN,-0.3%,-1.0%,0.5%,-0.007,-12.0%,-2.9%,-0.036,4.8%,...,-1.4%,-8.8%,-7.1%,-6.5%,8.1%,-8.3%,-7.4%,-9.7%,-0.5%,2023
4,Opponent,82.0,19805,3288,6822,0.482,1077,2933,0.367,2211,...,729,2702,3431,2097,571,309,1288,1643,9003,2023
5,Opponent/G,NaN,241.5,40.1,83.2,0.482,13.1,35.8,0.367,27.0,...,8.9,33.0,41.8,25.6,7.0,3.8,15.7,20.0,109.8,2023
6,Lg Rank,NaN,18,3,2,22.000,28,22,22.000,1,...,1,15,6,14,8,1,3,17,2,2023
7,Year/Year,NaN,-0.3%,6.8%,-0.9%,0.035,1.2%,-6.5%,0.028,9.8%,...,-6.9%,2.6%,0.4%,9.9%,-6.1%,-6.4%,4.9%,-2.6%,4.0%,2023

In [38]:
team_opponents_stats.to_csv("mia_team_opponents_stats.csv")

In [39]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIA/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_totals")[0]
    player_df = pd.read_html(str(player_table))[0][:-1]
    player_df["Year"] = year
    dfs.append(player_df)

In [40]:
totals = pd.concat(dfs)

In [41]:
totals.head()
totals.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
15,16.0,Nikola Jović,19.0,15,8.0,204,28,69,0.406,8,...,9,22,31,10,7,2,10,19,82,2023
16,17.0,Omer Yurtseven,24.0,9,0.0,83,16,27,0.593,3,...,8,15,23,2,2,2,4,16,40,2023
17,18.0,Udonis Haslem,42.0,7,1.0,71,10,29,0.345,3,...,4,7,11,0,1,2,1,11,27,2023
18,19.0,Dru Smith,25.0,5,1.0,67,5,14,0.357,1,...,1,8,9,5,4,3,1,10,11,2023
19,20.0,Jamaree Bouyea,23.0,4,0.0,65,6,13,0.462,2,...,1,4,5,4,4,2,4,5,15,2023

In [42]:
totals.to_csv("mia_player_totals.csv")

In [43]:
players = pd.read_csv("mia_player_totals.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("mia_player_totals.csv")

In [44]:
years = list(range(2000, 2024))

In [45]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIA/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_salaries2")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [46]:
salaries = pd.concat(dfs)

In [47]:
salaries.head()
salaries.tail()

    Rk         Unnamed: 1      Salary  Year
13  14  Haywood Highsmith  $1,752,638  2023
14  15     Omer Yurtseven  $1,752,638  2023
15  16   D.J. Stewart Jr.  $1,637,966  2023
16  17        Cody Zeller    $517,060  2023
17  18     Jamaree Bouyea     $58,493  2023

In [48]:
salaries.to_csv("mia_player_salaries.csv")

In [49]:
players = pd.read_csv("mia_player_salaries.csv")
players.head()
from unidecode import unidecode
#players['Player'] = players['Player'].apply(unidecode)
players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("mia_player_salaries.csv")