In [1]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
import shutil
import time
!pip install pandas
import pandas as pd
!pip install unidecode
import unidecode

Requirement already satisfied: selenium in c:\users\ericr\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: trio~=0.17 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (1.26.15)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: outcome in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: async-generator>=1.9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ericr\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ericr\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ericr\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: pandas in c:\users\ericr\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\ericr\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: unidecode in c:\users\ericr\anaconda3\lib\site-packages (1.3.6)

In [2]:
driver = webdriver.Chrome(
    executable_path="/Users/ericr/chromedriver_win32/chromedriver"
    )

C:\Users\ericr\AppData\Local\Temp\ipykernel_34892\1309012910.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(

In [2]:
years = list(range(1960, 2024))

In [4]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}.html"

for year in years:
    url = team_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(18)
    
    with open("NBA/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(driver.page_source)

In [5]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("NBA/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_advanced-team")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [6]:
nba_stats = pd.concat(dfs)

In [7]:
nba_stats.head()

  Unnamed: 0_level_0      Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rk                    Team                Age
0                1.0         Boston Celtics*               27.5
1                2.0        St. Louis Hawks*               27.6
2                3.0     Syracuse Nationals*               27.0
3                4.0  Philadelphia Warriors*               26.2
4                5.0         New York Knicks               26.4

  Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0 Unnamed: 6_level_0  \
                   W                  L                 PW                 PL
0               59.0               16.0                 54                 21
1               46.0               29.0                 44                 31
2               45.0               30.0                 43                 32
3               49.0               26.0                 43                 32
4               27.0               48.0                 32                 43

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
                 MOV                SOS                SRS  ...
0               8.32              -0.70               7.62  ...
1               2.71              -0.93               1.77  ...
2               2.63               0.15               2.77  ...
3               2.63               0.15               2.77  ...
4              -2.31               0.87              -1.43  ...

  Unnamed: 22_level_0 Defense Four Factors                   \
  Unnamed: 22_level_1                 eFG% TOV% DRB% FT/FGA
0                 NaN                  NaN  NaN  NaN    NaN
1                 NaN                  NaN  NaN  NaN    NaN
2                 NaN                  NaN  NaN  NaN    NaN
3                 NaN                  NaN  NaN  NaN    NaN
4                 NaN                  NaN  NaN  NaN    NaN

  Unnamed: 27_level_0          Unnamed: 28_level_0 Unnamed: 29_level_0  \
  Unnamed: 27_level_1                        Arena             Attend.
0                 NaN                Boston Garden            209374.0
1                 NaN              Kiel Auditorium                 NaN
2                 NaN        Onondaga War Memorial                 NaN
3                 NaN    Philadelphia Civic Center                 NaN
4                 NaN  Madison Square Garden (III)                 NaN

  Unnamed: 30_level_0  Year
            Attend./G
0                 NaN  1960
1                 NaN  1960
2                 NaN  1960
3                 NaN  1960
4                 NaN  1960

[5 rows x 32 columns]

In [8]:
nba_stats.tail()

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                   Rk               Team                Age
26               27.0  Charlotte Hornets               25.3
27               28.0    Houston Rockets               22.1
28               29.0    Detroit Pistons               24.1
29               30.0  San Antonio Spurs               23.9
30                NaN     League Average               26.3

   Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
                    W                  L                 PW
26               27.0               55.0                 26
27               22.0               60.0                 23
28               17.0               65.0                 22
29               22.0               60.0                 19
30                NaN                NaN                 41

   Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
                   PL                MOV                SOS
26                 56              -6.24               0.35
27                 59              -7.85               0.24
28                 60              -8.22               0.49
29                 63             -10.04               0.22
30                 41               0.00               0.00

   Unnamed: 9_level_0  ... Unnamed: 22_level_0 Defense Four Factors        \
                  SRS  ... Unnamed: 22_level_1                 eFG%  TOV%
26              -5.89  ...                 NaN                0.544  12.5
27              -7.62  ...                 NaN                0.564  11.8
28              -7.73  ...                 NaN                0.557  11.9
29              -9.82  ...                 NaN                0.576  12.0
30               0.00  ...                 NaN                0.545  12.5

                Unnamed: 27_level_0   Unnamed: 28_level_0 Unnamed: 29_level_0  \
    DRB% FT/FGA Unnamed: 27_level_1                 Arena             Attend.
26  75.5  0.211                 NaN       Spectrum Center            702052.0
27  75.8  0.218                 NaN         Toyota Center            668865.0
28  74.0  0.231                 NaN  Little Caesars Arena            759715.0
29  74.9  0.201                 NaN           AT&T Center            694434.0
30  76.0  0.208                 NaN                   NaN            739257.0

   Unnamed: 30_level_0  Year
             Attend./G
26             17123.0  2023
27             16314.0  2023
28             18596.0  2023
29             15508.0  2023
30             17993.0  2023

[5 rows x 32 columns]

In [9]:
nba_stats.to_csv("nba_advanced_stats.csv")

In [3]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("NBA/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_totals-team")[0]
    player_df = pd.read_html(str(player_table))[0][:-1]
    player_df["Year"] = year
    dfs.append(player_df)

In [4]:
nba_stats = pd.concat(dfs)

In [5]:
nba_stats.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1.0,Boston Celtics*,75,NaN,3744,8971,0.417,NaN,NaN,NaN,...,NaN,NaN,6014,1849,NaN,NaN,NaN,1856,9337,1960
1,2.0,Syracuse Nationals*,75,NaN,3406,8232,0.414,NaN,NaN,NaN,...,NaN,NaN,5406,1676,NaN,NaN,NaN,1939,8917,1960
2,3.0,Philadelphia Warriors*,75,NaN,3549,8678,0.409,NaN,NaN,NaN,...,NaN,NaN,5916,1796,NaN,NaN,NaN,1715,8895,1960
3,4.0,New York Knicks,75,NaN,3429,8153,0.421,NaN,NaN,NaN,...,NaN,NaN,5251,1667,NaN,NaN,NaN,1940,8800,1960
4,5.0,St. Louis Hawks*,75,NaN,3179,7580,0.419,NaN,NaN,NaN,...,NaN,NaN,5343,1881,NaN,NaN,NaN,1995,8506,1960

In [6]:
nba_stats.tail()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
25,26.0,Orlando Magic,82,19780.0,3323,7074,0.470,883.0,2551.0,0.346,...,833.0,2713.0,3546,1906,603.0,382.0,1236.0,1652,9136,2023
26,27.0,Charlotte Hornets,82,19830.0,3385,7413,0.457,881.0,2669.0,0.330,...,901.0,2751.0,3652,2062,634.0,425.0,1164.0,1661,9098,2023
27,28.0,Houston Rockets,82,19755.0,3329,7287,0.457,856.0,2619.0,0.327,...,1100.0,2695.0,3795,1835,600.0,374.0,1332.0,1679,9081,2023
28,29.0,Detroit Pistons,82,19805.0,3244,7140,0.454,934.0,2659.0,0.351,...,916.0,2564.0,3480,1884,574.0,308.0,1237.0,1813,9045,2023
29,30.0,Miami Heat*,82,19805.0,3215,6991,0.460,980.0,2852.0,0.344,...,796.0,2533.0,3329,1955,655.0,243.0,1106.0,1516,8977,2023

In [7]:
nba_stats.to_csv("nba_total_team.csv")