In [44]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
import shutil
import time
!pip install pandas
import pandas as pd
!pip install unidecode
import unidecode

Requirement already satisfied: selenium in c:\users\ericr\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (1.26.15)
Requirement already satisfied: async-generator>=1.9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sniffio in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ericr\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ericr\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ericr\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: pandas in c:\users\ericr\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\ericr\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: unidecode in c:\users\ericr\anaconda3\lib\site-packages (1.3.6)

In [2]:
driver = webdriver.Chrome(
    executable_path="/Users/ericr/chromedriver_win32/chromedriver"
    )

C:\Users\ericr\AppData\Local\Temp\ipykernel_24764\1309012910.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(

In [45]:
years = list(range(1960, 2024))

In [4]:
team_stats_url = "https://www.basketball-reference.com/teams/STL/{}.html"

for year in years:
    url = team_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(18)
    
    with open("ATL/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(driver.page_source)

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=114.0.5735.91)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00B8A813+48355]
	(No symbol) [0x00B1C4B1]
	(No symbol) [0x00A25358]
	(No symbol) [0x00A0D293]
	(No symbol) [0x00A6E37B]
	(No symbol) [0x00A7C473]
	(No symbol) [0x00A6A536]
	(No symbol) [0x00A482DC]
	(No symbol) [0x00A493DD]
	GetHandleVerifier [0x00DEAABD+2539405]
	GetHandleVerifier [0x00E2A78F+2800735]
	GetHandleVerifier [0x00E2456C+2775612]
	GetHandleVerifier [0x00C151E0+616112]
	(No symbol) [0x00B25F8C]
	(No symbol) [0x00B22328]
	(No symbol) [0x00B2240B]
	(No symbol) [0x00B14FF7]
	BaseThreadInitThunk [0x779400C9+25]
	RtlGetAppContainerNamedObjectPath [0x77E07B4E+286]
	RtlGetAppContainerNamedObjectPath [0x77E07B1E+238]

In [46]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../ATL/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_per_game")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [47]:
per_game_stats = pd.concat(dfs)

In [48]:
per_game_stats.head()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Bob Pettit,27,72,NaN,40.2,9.3,21.2,0.438,NaN,...,NaN,NaN,17.0,3.6,NaN,NaN,NaN,2.8,26.1,1960
1,2,Cliff Hagan,28,75,NaN,37.3,9.6,20.7,0.464,NaN,...,NaN,NaN,10.7,4.0,NaN,NaN,NaN,3.6,24.8,1960
2,3,Johnny McCarthy,25,75,NaN,31.8,3.2,9.7,0.329,NaN,...,NaN,NaN,4.0,4.4,NaN,NaN,NaN,3.1,8.4,1960
3,4,Dave Piontek,25,25,NaN,28.9,3.0,7.9,0.381,NaN,...,NaN,NaN,4.8,1.4,NaN,NaN,NaN,2.7,7.8,1960
4,5,Clyde Lovellette,30,68,NaN,28.7,8.1,17.3,0.468,NaN,...,NaN,NaN,10.6,1.9,NaN,NaN,NaN,3.6,20.8,1960

In [49]:
per_game_stats.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
15,16,Frank Kaminsky,29,26,0.0,6.8,1.0,1.7,0.568,0.4,...,0.1,1.3,1.4,0.8,0.2,0.0,0.3,0.8,2.7,2023
16,17,Vit Krejci,22,29,0.0,5.7,0.5,1.3,0.405,0.2,...,0.2,0.7,0.9,0.6,0.2,0.0,0.2,0.6,1.2,2023
17,18,Bruno Fernando,24,8,0.0,5.1,1.4,2.4,0.579,0.0,...,0.8,1.1,1.9,0.1,0.0,0.4,0.6,0.8,3.4,2023
18,19,Tyrese Martin,23,16,0.0,4.1,0.6,1.4,0.391,0.1,...,0.3,0.4,0.8,0.1,0.1,0.0,0.1,0.1,1.3,2023
19,20,Donovan Williams,21,2,0.0,2.0,1.0,2.5,0.400,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,2023

In [50]:
per_game_stats.to_csv("atl_per_game_stats.csv")

In [51]:
players = pd.read_csv("atl_per_game_stats.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("atl_per_game_stats.csv")

In [52]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../ATL/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_team_and_opponent")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [53]:
team_opponents_stats = pd.concat(dfs)

In [54]:
team_opponents_stats.head()

,Unnamed: 0,G,MP,FG,FGA,FG%,FT,FTA,FT%,ORB,...,Year,STL,BLK,TOV,3P,3PA,3P%,2P,2PA,2P%
0,Team,75.0,NaN,3179,7580,0.419,2148,2885,0.745,NaN,...,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Team/G,NaN,NaN,42.4,101.1,0.419,28.6,38.5,0.745,NaN,...,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Lg Rank,NaN,NaN,6,8,2.000,1,1,3.000,NaN,...,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Year/Year,NaN,NaN,6.0%,3.7%,0.009,-0.5%,0.5%,-0.007,NaN,...,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Opponent,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
team_opponents_stats.tail()

,Unnamed: 0,G,MP,FG,FGA,FG%,FT,FTA,FT%,ORB,...,Year,STL,BLK,TOV,3P,3PA,3P%,2P,2PA,2P%
3,Year/Year,NaN,0.8%,7.6%,4.6%,0.013,1.9%,1.1%,0.006,11.8%,...,2023,-1.2%,15.2%,9.1%,-16.5%,-11.2%,-0.022,18.4%,14.7%,0.017
4,Opponent,82.0,19855,3592,7398,0.486,1524,1899,0.803,866,...,2023,616,414,1162,979,2748,0.356,2613,4650,0.562
5,Opponent/G,NaN,242.1,43.8,90.2,0.486,18.6,23.2,0.803,10.6,...,2023,7.5,5.0,14.2,11.9,33.5,0.356,31.9,56.7,0.562
6,Lg Rank,NaN,8,28,25,25.000,18,13,30.000,17,...,2023,18,21,16,8,16,10.000,29,25,21.000
7,Year/Year,NaN,0.8%,4.6%,1.4%,0.015,17.8%,16.2%,0.011,3.3%,...,2023,6.9%,12.8%,11.1%,-6.9%,-4.8%,-0.008,9.6%,5.5%,0.021

In [56]:
team_opponents_stats.to_csv("atl_team_opponents_stats.csv")

In [57]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../ATL/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_totals")[0]
    player_df = pd.read_html(str(player_table))[0][:-1]
    player_df["Year"] = year
    dfs.append(player_df)

In [58]:
totals = pd.concat(dfs)

In [59]:
totals.head()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1.0,Bob Pettit,27.0,72,NaN,2896.0,669,1526,0.438,NaN,...,NaN,NaN,1221,257,NaN,NaN,NaN,204,1882,1960
1,2.0,Cliff Hagan,28.0,75,NaN,2798.0,719,1549,0.464,NaN,...,NaN,NaN,803,299,NaN,NaN,NaN,270,1859,1960
2,3.0,Johnny McCarthy,25.0,75,NaN,2383.0,240,730,0.329,NaN,...,NaN,NaN,301,328,NaN,NaN,NaN,233,629,1960
3,4.0,Clyde Lovellette,30.0,68,NaN,1953.0,550,1174,0.468,NaN,...,NaN,NaN,721,127,NaN,NaN,NaN,248,1416,1960
4,5.0,Slater Martin,34.0,64,NaN,1756.0,142,383,0.371,NaN,...,NaN,NaN,187,330,NaN,NaN,NaN,174,397,1960

In [60]:
totals.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
15,16.0,Jarrett Culver,23.0,10,1.0,137.0,17,43,0.395,1.0,...,10.0,28.0,38,6,6.0,2.0,7.0,14,44,2023
16,17.0,Garrison Mathews,26.0,9,0.0,84.0,13,31,0.419,10.0,...,1.0,10.0,11,3,1.0,1.0,1.0,6,43,2023
17,18.0,Tyrese Martin,23.0,16,0.0,66.0,9,23,0.391,1.0,...,5.0,7.0,12,2,1.0,0.0,2.0,2,21,2023
18,19.0,Bruno Fernando,24.0,8,0.0,41.0,11,19,0.579,0.0,...,6.0,9.0,15,1,0.0,3.0,5.0,6,27,2023
19,20.0,Donovan Williams,21.0,2,0.0,4.0,2,5,0.400,0.0,...,0.0,2.0,2,0,0.0,0.0,0.0,0,4,2023

In [61]:
totals.to_csv("atl_player_totals.csv")

In [62]:
players = pd.read_csv("atl_player_totals.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("atl_player_totals.csv")

In [63]:
years = list(range(2000, 2024))

In [64]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../ATL/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_salaries2")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [65]:
salaries = pd.concat(dfs)

In [66]:
salaries.head()

   Rk       Unnamed: 1       Salary  Year
0   1  Dikembe Mutombo  $12,820,249  2000
1   2     Isaiah Rider   $5,410,000  2000
2   3   Alan Henderson   $5,318,437  2000
3   4  Lorenzen Wright   $4,400,000  2000
4   5      Bimbo Coles   $2,300,000  2000

In [67]:
salaries.tail()

    Rk      Unnamed: 1      Salary  Year
16  17      Vit Krejci  $1,563,518  2023
17  18   Tyrese Martin  $1,017,781  2023
18  19   Tyson Etienne  $1,017,781  2023
19  20    Jared Rhoden  $1,017,781  2023
20  21  Derrick Favors    $105,522  2023

In [68]:
salaries.to_csv("atl_player_salaries.csv")

In [69]:
players = pd.read_csv("atl_player_salaries.csv")
players.head()
from unidecode import unidecode
#players['Player'] = players['Player'].apply(unidecode)
players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("atl_player_salaries.csv")