In [29]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
import shutil
import time
!pip install pandas
import pandas as pd
!pip install unidecode
import unidecode

Requirement already satisfied: selenium in c:\users\ericr\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (1.26.15)
Requirement already satisfied: trio~=0.17 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: async-generator>=1.9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ericr\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ericr\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ericr\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: pandas in c:\users\ericr\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\ericr\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: unidecode in c:\users\ericr\anaconda3\lib\site-packages (1.3.6)

In [4]:
driver = webdriver.Chrome(
    executable_path="/Users/ericr/chromedriver_32/chromedriver"
    )

C:\Users\ericr\AppData\Local\Temp\ipykernel_45072\2497404269.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(

In [30]:
years = list(range(1969, 2024))

In [6]:
team_stats_url = "https://www.basketball-reference.com/teams/MIL/{}.html"

In [7]:
for year in years:
    url = team_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(15)
    
    with open("MIL/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(driver.page_source)

In [31]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIL/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_per_game")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [32]:
per_game_stats = pd.concat(dfs)

In [33]:
per_game_stats.head()
per_game_stats.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
16,17,Goran DragiÄ‡,36,7,0.0,11.9,2.0,5.1,0.389,1.0,...,0.4,1.3,1.7,1.7,0.3,0.0,1.0,0.3,5.6,2023
17,18,Serge Ibaka,33,16,0.0,11.6,1.6,3.4,0.481,0.4,...,0.9,1.8,2.8,0.3,0.1,0.4,0.7,1.4,4.1,2023
18,19,A.J. Green,23,35,1.0,9.9,1.5,3.6,0.424,1.3,...,0.2,1.1,1.3,0.6,0.2,0.0,0.3,0.9,4.4,2023
19,20,Sandro Mamukelashvili,23,24,0.0,9.0,0.8,2.4,0.328,0.3,...,0.8,1.6,2.3,0.7,0.2,0.2,0.4,0.8,2.4,2023
20,21,Thanasis Antetokounmpo,30,37,0.0,5.6,0.5,1.2,0.435,0.0,...,0.4,0.8,1.2,0.4,0.1,0.1,0.3,0.6,1.4,2023

In [34]:
per_game_stats.to_csv("mil_per_game_stats.csv")

In [35]:
players = pd.read_csv("mil_per_game_stats.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("mil_per_game_stats.csv")

In [36]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIL/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_team_and_opponent")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [37]:
team_opponents_stats = pd.concat(dfs)

In [38]:
team_opponents_stats.head()
team_opponents_stats.tail()

,Unnamed: 0,G,MP,FG,FGA,FG%,FT,FTA,FT%,ORB,...,Year,STL,BLK,TOV,3P,3PA,3P%,2P,2PA,2P%
3,Year/Year,NaN,0.4%,2.2%,1.1%,0.005,-6.5%,-2.3%,-0.033,8.8%,...,2023,-16.4%,23.6%,9.0%,5.6%,4.9%,0.002,0.5%,-1.8%,0.013
4,Opponent,82.0,19830,3483,7644,0.456,1334,1719,0.776,879,...,2023,578,323,970,991,2799,0.354,2492,4845,0.514
5,Opponent/G,NaN,241.8,42.5,93.2,0.456,16.3,21.0,0.776,10.7,...,2023,7.0,3.9,11.8,12.1,34.1,0.354,30.4,59.1,0.514
6,Lg Rank,NaN,12,21,29,2.000,3,2,10.000,19,...,2023,13,5,30,11,18,8.000,19,30,1.000
7,Year/Year,NaN,0.4%,2.7%,2.9%,-0.001,8.7%,5.2%,0.025,8.3%,...,2023,-4.6%,-9.5%,-9.3%,-16.4%,-15.9%,-0.002,13.0%,18.1%,-0.023

In [39]:
team_opponents_stats.to_csv("mil_team_opponents_stats.csv")

In [40]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIL/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_totals")[0]
    player_df = pd.read_html(str(player_table))[0][:-1]
    player_df["Year"] = year
    dfs.append(player_df)

In [41]:
totals = pd.concat(dfs)

In [42]:
totals.head()
totals.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
16,17.0,Thanasis Antetokounmpo,30.0,37,0.0,206,20,46,0.435,0.0,...,15.0,29.0,44,15,3.0,3.0,12.0,22,51,2023
17,18.0,Serge Ibaka,33.0,16,0.0,185,26,54,0.481,6.0,...,15.0,29.0,44,4,2.0,7.0,11.0,23,66,2023
18,19.0,Meyers Leonard,30.0,9,2.0,114,14,29,0.483,7.0,...,12.0,22.0,34,1,2.0,0.0,6.0,16,43,2023
19,20.0,Lindell Wigginton,24.0,7,1.0,87,18,37,0.486,6.0,...,0.0,7.0,7,14,0.0,2.0,12.0,7,50,2023
20,21.0,Goran DragiÄ‡,36.0,7,0.0,83,14,36,0.389,7.0,...,3.0,9.0,12,12,2.0,0.0,7.0,2,39,2023

In [43]:
totals.to_csv("mil_player_totals.csv")

In [44]:
players = pd.read_csv("mil_player_totals.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("mil_player_totals.csv")

In [45]:
years = list(range(2000, 2024))

In [46]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIL/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_salaries2")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [47]:
salaries = pd.concat(dfs)

In [48]:
salaries.head()
salaries.tail()

    Rk         Unnamed: 1      Salary  Year
18  19  Lindell Wigginton  $1,637,966  2023
19  20       Goran DragiÄ‡    $390,433  2023
20  21     Meyers Leonard    $284,911  2023
21  22     Meyers Leonard    $105,522  2023
22  23     Meyers Leonard    $105,522  2023

In [49]:
salaries.to_csv("mil_player_salaries.csv")

In [50]:
players = pd.read_csv("mil_player_salaries.csv")
players.head()
from unidecode import unidecode
#players['Player'] = players['Player'].apply(unidecode)
players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("mil_player_salaries.csv")