In [28]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
import shutil
import time
!pip install pandas
import pandas as pd
!pip install unidecode
import unidecode

Requirement already satisfied: selenium in c:\users\ericr\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: trio~=0.17 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (1.26.15)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: sniffio in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ericr\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ericr\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ericr\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: pandas in c:\users\ericr\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\ericr\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: unidecode in c:\users\ericr\anaconda3\lib\site-packages (1.3.6)

In [2]:
driver = webdriver.Chrome(
    executable_path="/Users/ericr/chromedriver_32/chromedriver"
    )

C:\Users\ericr\AppData\Local\Temp\ipykernel_30940\2497404269.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(

In [29]:
years = list(range(1990, 2024))

In [4]:
team_stats_url = "https://www.basketball-reference.com/teams/MIN/{}.html"

In [5]:
for year in years:
    url = team_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(15)
    
    with open("MIN/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(driver.page_source)

In [30]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIN/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_per_game")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [31]:
per_game_stats = pd.concat(dfs)

In [32]:
per_game_stats.head()
per_game_stats.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
15,16,Matt Ryan,25,22,0,8.2,1.1,2.7,0.424,0.9,...,0.1,0.5,0.5,0.5,0.1,0.0,0.2,0.6,3.4,2023
16,17,Nathan Knight,25,38,0,7.7,1.2,2.1,0.568,0.2,...,0.6,0.9,1.5,0.3,0.3,0.2,0.6,1.1,3.7,2023
17,18,Josh Minott,20,15,0,6.4,1.2,2.4,0.500,0.1,...,0.3,1.3,1.7,0.3,0.3,0.4,0.2,0.7,3.1,2023
18,19,Wendell Moore Jr.,21,29,2,5.3,0.6,1.5,0.419,0.1,...,0.1,0.5,0.6,0.6,0.3,0.2,0.3,0.4,1.4,2023
19,20,A.J. Lawson,22,1,0,2.0,1.0,1.0,1.000,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0,2023

In [33]:
per_game_stats.to_csv("min_per_game_stats.csv")

In [34]:
players = pd.read_csv("min_per_game_stats.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("min_per_game_stats.csv")

In [35]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIN/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_team_and_opponent")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [36]:
team_opponents_stats = pd.concat(dfs)

In [37]:
team_opponents_stats.head()
team_opponents_stats.tail()

,Unnamed: 0,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
3,Year/Year,NaN,0.3%,3.0%,-3.9%,0.033,-17.7%,-19.3%,0.007,14.5%,...,-18.7%,-0.5%,-5.1%,1.9%,-8.9%,-3.5%,7.1%,-1.0%,-0.1%,2023
4,Opponent,82.0,19830,3428,7277,0.471,1007,2728,0.369,2421,...,928,2734,3662,2051,674,336,1262,1654,9497,2023
5,Opponent/G,NaN,241.8,41.8,88.7,0.471,12.3,33.3,0.369,29.5,...,11.3,33.3,44.7,25.0,8.2,4.1,15.4,20.2,115.8,2023
6,Lg Rank,NaN,12,15,18,11.000,16,10,24.000,15,...,27,18,22,12,29,8,5,15,18,2023
7,Year/Year,NaN,0.3%,3.9%,1.6%,0.011,-6.0%,-10.9%,0.019,8.7%,...,2.7%,-4.3%,-2.7%,-4.6%,13.7%,-15.4%,-5.8%,-3.6%,2.2%,2023

In [38]:
team_opponents_stats.to_csv("min_team_opponents_stats.csv")

In [39]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIN/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_totals")[0]
    player_df = pd.read_html(str(player_table))[0][:-1]
    player_df["Year"] = year
    dfs.append(player_df)

In [40]:
totals = pd.concat(dfs)

In [41]:
totals.head()
totals.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
15,16.0,Luka Garza,24.0,28,0.0,243,63,116,0.543,14,...,33,30,63,18,3,2,14,43,181,2023
16,17.0,Matt Ryan,25.0,22,0.0,181,25,59,0.424,19,...,2,10,12,12,3,1,4,13,75,2023
17,18.0,Wendell Moore Jr.,21.0,29,2.0,153,18,43,0.419,2,...,4,14,18,18,8,5,8,13,42,2023
18,19.0,Josh Minott,20.0,15,0.0,96,18,36,0.500,2,...,5,20,25,5,4,6,3,10,46,2023
19,20.0,A.J. Lawson,22.0,1,0.0,2,1,1,1.000,0,...,0,1,1,0,0,0,0,1,2,2023

In [42]:
totals.to_csv("min_player_totals.csv")

In [43]:
players = pd.read_csv("min_player_totals.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("min_player_totals.csv")

In [44]:
years = list(range(2000, 2024))

In [45]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../MIN/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_salaries2")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [46]:
salaries = pd.concat(dfs)

In [47]:
salaries.head()
salaries.tail()

    Rk       Unnamed: 1      Salary  Year
16  17        CJ Elleby  $1,836,090  2023
17  18  Emmanuel Mudiay  $1,836,090  2023
18  19      Josh Minott  $1,017,781  2023
19  20  Phillip Wheeler  $1,017,781  2023
20  21       Matt Lewis  $1,017,781  2023

In [48]:
salaries.to_csv("min_player_salaries.csv")

In [49]:
players = pd.read_csv("min_player_salaries.csv")
players.head()
from unidecode import unidecode
#players['Player'] = players['Player'].apply(unidecode)
players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("min_player_salaries.csv")