In [28]:
!pip install selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import requests
import shutil
import time
!pip install pandas
import pandas as pd
!pip install unidecode
import unidecode

Requirement already satisfied: selenium in c:\users\ericr\anaconda3\lib\site-packages (4.9.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (1.26.15)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: trio~=0.17 in c:\users\ericr\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: async-generator>=1.9 in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\ericr\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\ericr\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\ericr\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\ericr\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\ericr\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: pandas in c:\users\ericr\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ericr\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ericr\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: unidecode in c:\users\ericr\anaconda3\lib\site-packages (1.3.6)

In [2]:
driver = webdriver.Chrome(
    executable_path="/Users/ericr/chromedriver_32/chromedriver"
    )

C:\Users\ericr\AppData\Local\Temp\ipykernel_18912\2497404269.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(

In [29]:
years = list(range(2003, 2024))

In [11]:
team_stats_url = "https://www.basketball-reference.com/teams/NOK/{}.html"

In [12]:
for year in years:
    url = team_stats_url.format(year)
    
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)")
    time.sleep(15)
    
    with open("NOH/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(driver.page_source)

In [30]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../NOH/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_per_game")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [31]:
per_game_stats = pd.concat(dfs)

In [32]:
per_game_stats.head()
per_game_stats.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
12,13,Jaxson Hayes,22,47,2,13.0,1.8,3.3,0.551,0.1,...,0.8,2.0,2.8,0.7,0.4,0.4,0.7,1.4,5.0,2023
13,14,Willy Hernang√≥mez,28,38,2,12.1,2.3,4.4,0.527,0.1,...,1.5,3.2,4.7,0.9,0.4,0.3,1.0,1.7,6.9,2023
14,15,Kira Lewis Jr.,21,25,0,9.4,1.6,3.5,0.455,0.6,...,0.2,1.1,1.3,0.9,0.4,0.1,0.4,1.0,4.6,2023
15,16,Garrett Temple,36,25,0,6.5,0.7,1.8,0.400,0.4,...,0.2,0.5,0.7,0.5,0.4,0.1,0.2,0.6,2.0,2023
16,17,Dereon Seabron,22,5,0,2.4,0.4,1.0,0.400,0.0,...,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.2,0.8,2023

In [33]:
per_game_stats.to_csv("noh_per_game_stats.csv")

In [34]:
players = pd.read_csv("noh_per_game_stats.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("noh_per_game_stats.csv")

In [35]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../NOH/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_team_and_opponent")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [36]:
team_opponents_stats = pd.concat(dfs)

In [37]:
team_opponents_stats.head()
team_opponents_stats.tail()

,Unnamed: 0,G,MP,FG,FGA,FG%,3P,3PA,3P%,2P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
3,Year/Year,NaN,0.5%,4.6%,-0.4%,0.023,3.0%,-6.1%,0.032,5.2%,...,-11.7%,-0.3%,-3.3%,3.7%,0.1%,2.7%,3.7%,4.1%,4.6%,2023
4,Opponent,82.0,19855,3357,7105,0.472,1002,2953,0.339,2355,...,792,2634,3426,2044,600,386,1228,1673,9223,2023
5,Opponent/G,NaN,242.1,40.9,86.6,0.472,12.2,36.0,0.339,28.7,...,9.7,32.1,41.8,24.9,7.3,4.7,15.0,20.4,112.5,2023
6,Lg Rank,NaN,8,9,7,12.000,14,23,1.000,10,...,6,6,5,8,17,17,9,12,9,2023
7,Year/Year,NaN,0.5%,1.7%,1.4%,0.002,-5.8%,1.4%,-0.026,5.3%,...,4.3%,-1.2%,0.0%,0.2%,-0.8%,-1.3%,5.5%,-0.5%,2.0%,2023

In [38]:
team_opponents_stats.to_csv("noh_team_opponents_stats.csv")

In [39]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../NOH/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_totals")[0]
    player_df = pd.read_html(str(player_table))[0][:-1]
    player_df["Year"] = year
    dfs.append(player_df)

In [40]:
totals = pd.concat(dfs)

In [41]:
totals.head()
totals.tail()

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
12,13.0,Josh Richardson,29.0,23,4.0,533,62,148,0.419,33,...,11,45,56,37,29,9,23,47,173,2023
13,14.0,Willy Hernang√≥mez,28.0,38,2.0,458,89,169,0.527,3,...,58,122,180,33,17,13,39,64,262,2023
14,15.0,Kira Lewis Jr.,21.0,25,0.0,235,40,88,0.455,15,...,5,28,33,23,10,2,10,24,114,2023
15,16.0,Garrett Temple,36.0,25,0.0,162,18,45,0.400,11,...,5,12,17,13,9,2,4,15,50,2023
16,17.0,Dereon Seabron,22.0,5,0.0,12,2,5,0.400,0,...,1,0,1,0,0,0,0,1,4,2023

In [42]:
totals.to_csv("noh_player_totals.csv")

In [43]:
players = pd.read_csv("noh_player_totals.csv")
players.head()
from unidecode import unidecode
players['Player'] = players['Player'].apply(unidecode)
#players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("noh_player_totals.csv")

In [44]:
years = list(range(2003, 2024))

In [45]:
from bs4 import BeautifulSoup

dfs = []
for year in years:
    with open("../NOH/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    player_table = soup.find_all(id="div_salaries2")[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df["Year"] = year
    dfs.append(player_df)

In [46]:
salaries = pd.concat(dfs)

In [47]:
salaries.head()
salaries.tail()

    Rk       Unnamed: 1      Salary  Year
16  17    Javonte Smart  $1,637,966  2023
17  18    Jose Alvarado  $1,563,518  2023
18  19      John Butler  $1,563,518  2023
19  20   John Petty Jr.  $1,017,781  2023
20  21  Daeqwon Plowden  $1,017,781  2023

In [48]:
salaries.to_csv("noh_player_salaries.csv")

In [49]:
players = pd.read_csv("noh_player_salaries.csv")
players.head()
from unidecode import unidecode
#players['Player'] = players['Player'].apply(unidecode)
players['Unnamed: 1'] = players['Unnamed: 1'].apply(unidecode)
players.to_csv("noh_player_salaries.csv")